In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=b401d59cf50a0b60b583210fdb33f7cc194193f4c81ac1c11f4803fc020158b8
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

## Importing the pyspark

In [ ]:
from pyspark.sql import *

In [ ]:
# Create a student
Student = Row('firstname', 'lastname', 'email', "age", 'rollnumber')

student1 = Student("john", 'amaral', 'john@uni.sim', 21, 15423)
student2 = Student('cassey', None, 'cassey@uni.sim', 21, 14526)
student3 = Student('Louis', 'Lopez', 'louis@uni.sim', 19, 12343)
student4 = Student('Jack', 'Torres', None, 23, 13536)
student5 = Student('Michael', 'Jackson', 'michael@uni.sim', 20, 16534)

In [ ]:
student2

Row(firstname='cassey', lastname=None, email='cassey@uni.sim', age=21, rollnumber=14526)

In [ ]:
# Create the department
department1 = Row(id='001', name='Math')
department2 = Row(id='002', name='English')
department3 = Row(id='003', name='Physics')
department4 = Row(id='004', name='Chemistry')

In [ ]:
#create departmentWithStudent instances
departmentWithStudent1 = Row(department=department1, student=[student1, student2])
departmentWithStudent2 = Row(department=department2, student=[student3, student4])
departmentWithStudent3 = Row(department=department3, student=[student5, student4])
departmentWithStudent4 = Row(department=department4, student=[student2, student3])

In [ ]:
print(departmentWithStudent3.student[0].rollnumber)

16534

In [ ]:
departmentWithStudents = [departmentWithStudent1, departmentWithStudent2, departmentWithStudent3, departmentWithStudent4]

In [ ]:
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

df = spark.createDataFrame(departmentWithStudents)

display(df)

DataFrame[department: struct<id:string,name:string>, student: array<struct<firstname:string,lastname:string,email:string,age:bigint,rollnumber:bigint>>]

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('create data from csv file').getOrCreate()

df = spark.read.csv('/content/country_wise_latest.csv', sep=',', header=True)
df.show()

+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              2.95|                56.25|                  5.25|               4171|          709|             17.0|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              4.16|                67.34|                  6.17|              23691|         4282|            18.07|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              5.73|                88.53|                  6.48|                884|           23|              2.6|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              4.32|                25.47|                 16.94|                749|          201|            26.84|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|              3.49|                75.58|                  4.62|                 76|           10|            13.16|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|              1.83|                43.35|                  4.21|             130774|        36642|            28.02|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|               1.9|                71.32|                  2.67|              34981|         2409|             6.89|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|              1.09|                60.84|                  1.79|              12428|         2875|            23.13|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              3.47|                88.75|                  3.91|              19743|          815|             4.13|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              1.39|                76.34|                  1.82|              27890|         2556|             9.16|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|              2.88|                23.82|                 12.09|                174|          208|           119.54|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|              0.36|                91.46|                  0.39|              36936|         2546|             6.89|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|              1.31|                55.56|                  2.36|             207453|        18772|             9.05|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|              6.36|                85.45|                  7.45|                106|            4|             3.77|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|               0.8|                89.95|                  0.89|              66213|         1038|             1.57|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|             14.79|                26.27|                 56.28|              64094|         2334|             3.64|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|              4.17|                54.17|                  7.69|                 40|            8|             20.0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              1.98|                58.53|                  3.38|               1602|          168|            10.49|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|               0.0|                86.87|                   0.0|                 90|            9|             10.0|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
df.count()

187

In [ ]:
df.columns

['Country/Region',
 'Confirmed',
 'Deaths',
 'Recovered',
 'Active',
 'New cases',
 'New deaths',
 'New recovered',
 'Deaths / 100 Cases',
 'Recovered / 100 Cases',
 'Deaths / 100 Recovered',
 'Confirmed last week',
 '1 week change',
 '1 week % increase',
 'WHO Region']

In [ ]:
len(df.columns)

15

In [ ]:
df.printSchema()

root
 |-- Country/Region: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Recovered: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- New cases: string (nullable = true)
 |-- New deaths: string (nullable = true)
 |-- New recovered: string (nullable = true)
 |-- Deaths / 100 Cases: string (nullable = true)
 |-- Recovered / 100 Cases: string (nullable = true)
 |-- Deaths / 100 Recovered: string (nullable = true)
 |-- Confirmed last week: string (nullable = true)
 |-- 1 week change: string (nullable = true)
 |-- 1 week % increase: string (nullable = true)
 |-- WHO Region: string (nullable = true)

In [ ]:
df.describe('WHO Region').show()

+-------+---------------+
|summary|     WHO Region|
+-------+---------------+
|  count|            187|
|   mean|           null|
| stddev|           null|
|    min|         Africa|
|    max|Western Pacific|
+-------+---------------+

In [ ]:
df.describe('Active').show()

+-------+------------------+
|summary|            Active|
+-------+------------------+
|  count|               187|
|   mean|   34001.935828877|
| stddev|213326.17337142891|
|    min|                 0|
|    max|             98752|
+-------+------------------+

In [ ]:
df.select('Country/Region','Deaths / 100 cases').show()

+-------------------+------------------+
|     Country/Region|Deaths / 100 cases|
+-------------------+------------------+
|        Afghanistan|               3.5|
|            Albania|              2.95|
|            Algeria|              4.16|
|            Andorra|              5.73|
|             Angola|              4.32|
|Antigua and Barbuda|              3.49|
|          Argentina|              1.83|
|            Armenia|               1.9|
|          Australia|              1.09|
|            Austria|              3.47|
|         Azerbaijan|              1.39|
|            Bahamas|              2.88|
|            Bahrain|              0.36|
|         Bangladesh|              1.31|
|           Barbados|              6.36|
|            Belarus|               0.8|
|            Belgium|             14.79|
|             Belize|              4.17|
|              Benin|              1.98|
|             Bhutan|               0.0|
+-------------------+------------------+
only showing top 20 rows

In [ ]:
df.filter(df.Deaths>1000).show()

+------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|    Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|       Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
|           Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              4.16|                67.34|                  6.17|              23691|         4282|            18.07|              Africa|
|         Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|              1.83|                43.35|                  4.21|             130774|        36642|            28.02|            Americas|
|        Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|              1.31|                55.56|                  2.36|             207453|        18772|             9.05|     South-East Asia|
|           Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|             14.79|                26.27|                 56.28|              64094|         2334|             3.64|              Europe|
|           Bolivia|    71181|  2647|    21478| 47056|     1752|        64|          309|              3.72|                30.17|                 12.32|              60991|        10190|            16.71|            Americas|
|            Brazil|  2442375| 87618|  1846641|508116|    23284|       614|        33728|              3.59|                75.61|                  4.74|            2118646|       323729|            15.28|            Americas|
|            Canada|   116458|  8944|        0|107514|      682|        11|            0|              7.68|                  0.0|                   inf|             112925|         3533|             3.13|            Americas|
|             Chile|   347923|  9187|   319954| 18782|     2133|        75|         1859|              2.64|                91.96|                  2.87|             333029|        14894|             4.47|            Americas|
|             China|    86783|  4656|    78869|  3258|      213|         4|            7|              5.37|                90.88|                   5.9|              85622|         1161|             1.36|     Western Pacific|
|          Colombia|   257101|  8777|   131161|117163|    16306|       508|        11494|              3.41|                51.02|                  6.69|             204005|        53096|            26.03|            Americas|
|Dominican Republic|    64156|  1083|    30204| 32869|     1248|        20|         1601|              1.69|                47.08|                  3.59|              53956|        10200|             18.9|            Americas|
|           Ecuador|    81161|  5532|    34896| 40733|      467|        17|            0|              6.82|                 43.0|                 15.85|              74620|         6541|             8.77|            Americas|
|             Egypt|    92482|  4652|    34838| 52992|      420|        46|         1007|              5.03|                37.67|                 13.35|              88402|         4080|             4.62|Eastern Mediterra...|
|            France|   220352| 30212|    81212|108928|     2551|        17|          267|             13.71|                36.86|                  37.2|             214023|         6329|             2.96|              Europe|
|           Germany|   207112|  9125|   190314|  7673|      445|         1|          259|              4.41|                91.89|                  4.79|             203325|         3787|             1.86|              Europe|
|         Guatemala|    45309|  1761|    32455| 11093|      256|        27|          843|              3.89|                71.63|                  5.43|              39039|         6270|            16.06|            Americas|
|          Honduras|    39741|  1166|     5039| 33536|      465|        50|          117|              2.93|                12.68|                 23.14|              34611|         5130|            14.82|            Americas|
|             India|  1480073| 33408|   951166|495499|    44457|       637|        33598|              2.26|                64.26|                  3.51|            1155338|       324735|            28.11|     South-East Asia|
|         Indonesia|   100303|  4838|    58173| 37292|     1525|        57|         1518|              4.82|                 58.0|                  8.32|              88214|        12089|             13.7|     South-East Asia|
+------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
df.filter(df.Deaths>1000).count()

44

In [ ]:
df.filter((df.Deaths>1000) & (df.Active>10000)).show()

+------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|    Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|         Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|              1.83|                43.35|                  4.21|             130774|        36642|            28.02|            Americas|
|        Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|              1.31|                55.56|                  2.36|             207453|        18772|             9.05|     South-East Asia|
|           Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|             14.79|                26.27|                 56.28|              64094|         2334|             3.64|              Europe|
|           Bolivia|    71181|  2647|    21478| 47056|     1752|        64|          309|              3.72|                30.17|                 12.32|              60991|        10190|            16.71|            Americas|
|            Brazil|  2442375| 87618|  1846641|508116|    23284|       614|        33728|              3.59|                75.61|                  4.74|            2118646|       323729|            15.28|            Americas|
|            Canada|   116458|  8944|        0|107514|      682|        11|            0|              7.68|                  0.0|                   inf|             112925|         3533|             3.13|            Americas|
|             Chile|   347923|  9187|   319954| 18782|     2133|        75|         1859|              2.64|                91.96|                  2.87|             333029|        14894|             4.47|            Americas|
|          Colombia|   257101|  8777|   131161|117163|    16306|       508|        11494|              3.41|                51.02|                  6.69|             204005|        53096|            26.03|            Americas|
|Dominican Republic|    64156|  1083|    30204| 32869|     1248|        20|         1601|              1.69|                47.08|                  3.59|              53956|        10200|             18.9|            Americas|
|           Ecuador|    81161|  5532|    34896| 40733|      467|        17|            0|              6.82|                 43.0|                 15.85|              74620|         6541|             8.77|            Americas|
|             Egypt|    92482|  4652|    34838| 52992|      420|        46|         1007|              5.03|                37.67|                 13.35|              88402|         4080|             4.62|Eastern Mediterra...|
|            France|   220352| 30212|    81212|108928|     2551|        17|          267|             13.71|                36.86|                  37.2|             214023|         6329|             2.96|              Europe|
|         Guatemala|    45309|  1761|    32455| 11093|      256|        27|          843|              3.89|                71.63|                  5.43|              39039|         6270|            16.06|            Americas|
|          Honduras|    39741|  1166|     5039| 33536|      465|        50|          117|              2.93|                12.68|                 23.14|              34611|         5130|            14.82|            Americas|
|             India|  1480073| 33408|   951166|495499|    44457|       637|        33598|              2.26|                64.26|                  3.51|            1155338|       324735|            28.11|     South-East Asia|
|         Indonesia|   100303|  4838|    58173| 37292|     1525|        57|         1518|              4.82|                 58.0|                  8.32|              88214|        12089|             13.7|     South-East Asia|
|              Iran|   293606| 15912|   255144| 22550|     2434|       212|         1931|              5.42|                 86.9|                  6.24|             276202|        17404|              6.3|Eastern Mediterra...|
|              Iraq|   112585|  4458|    77144| 30983|     2553|        96|         1927|              3.96|                68.52|                  5.78|              94693|        17892|            18.89|Eastern Mediterra...|
|             Italy|   246286| 35112|   198593| 12581|      168|         5|          147|             14.26|                80.64|                 17.68|             244624|         1662|             0.68|              Europe|
|        Kyrgyzstan|    33296|  1301|    21205| 10790|      483|        24|          817|              3.91|                63.69|                  6.14|              27143|         6153|            22.67|              Europe|
+------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
df.orderBy('Active').show()

+--------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+---------------+
|      Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|     WHO Region|
+--------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+---------------+
|              Brunei|      141|     3|      138|     0|        0|         0|            0|              2.13|                97.87|                  2.17|                141|            0|              0.0|Western Pacific|
|            Dominica|       18|     0|       18|     0|        0|         0|            0|               0.0|                100.0|                   0.0|                 18|            0|              0.0|       Americas|
|             Grenada|       23|     0|       23|     0|        0|         0|            0|               0.0|                100.0|                   0.0|                 23|            0|              0.0|       Americas|
|            Holy See|       12|     0|       12|     0|        0|         0|            0|               0.0|                100.0|                   0.0|                 12|            0|              0.0|         Europe|
|          San Marino|      699|    42|      657|     0|        0|         0|            0|              6.01|                93.99|                  6.39|                699|            0|              0.0|         Europe|
|           Greenland|       14|     0|       13|     1|        1|         0|            0|               0.0|                92.86|                   0.0|                 13|            1|             7.69|         Europe|
|                Laos|       20|     0|       19|     1|        0|         0|            0|               0.0|                 95.0|                   0.0|                 19|            1|             5.26|Western Pacific|
|      Western Sahara|       10|     1|        8|     1|        0|         0|            0|              10.0|                 80.0|                  12.5|                 10|            0|              0.0|         Africa|
|             Armenia|    37390|   711|    26665| 10014|       73|         6|          187|               1.9|                71.32|                  2.67|              34981|         2409|             6.89|         Europe|
|              Canada|   116458|  8944|        0|107514|      682|        11|            0|              7.68|                  0.0|                   inf|             112925|         3533|             3.13|       Americas|
|          Kyrgyzstan|    33296|  1301|    21205| 10790|      483|        24|          817|              3.91|                63.69|                  6.14|              27143|         6153|            22.67|         Europe|
|         South Sudan|     2305|    46|     1175|  1084|       43|         1|            0|               2.0|                50.98|                  3.91|               2211|           94|             4.25|         Africa|
|              France|   220352| 30212|    81212|108928|     2551|        17|          267|             13.71|                36.86|                  37.2|             214023|         6329|             2.96|         Europe|
|              Turkey|   227019|  5630|   210469| 10920|      919|        17|          982|              2.48|                92.71|                  2.67|             220572|         6447|             2.92|         Europe|
|           Guatemala|    45309|  1761|    32455| 11093|      256|        27|          843|              3.89|                71.63|                  5.43|              39039|         6270|            16.06|       Americas|
|       Guinea-Bissau|     1954|    26|      803|  1125|        0|         0|            0|              1.33|                 41.1|                  3.24|               1949|            5|             0.26|         Africa|
|          Tajikistan|     7235|    60|     6028|  1147|       43|         1|           58|              0.83|                83.32|                   1.0|               6921|          314|             4.54|         Europe|
|Sao Tome and Prin...|      865|    14|      734|   117|        2|         0|           38|              1.62|                84.86|                  1.91|                746|          119|            15.95|         Africa|
|            Colombia|   257101|  8777|   131161|117163|    16306|       508|        11494|              3.41|                51.02|                  6.69|             204005|        53096|            26.03|       Americas|
|          Costa Rica|    15841|   115|     3824| 11902|      612|        11|           88|              0.73|                24.14|                  3.01|              11534|         4307|            37.34|       Americas|
+--------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+---------------+
only showing top 20 rows

In [ ]:
df.registerTempTable('Covid_Table')

spark.sql('select * from Covid_Table').show()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              2.95|                56.25|                  5.25|               4171|          709|             17.0|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              4.16|                67.34|                  6.17|              23691|         4282|            18.07|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              5.73|                88.53|                  6.48|                884|           23|              2.6|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              4.32|                25.47|                 16.94|                749|          201|            26.84|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|              3.49|                75.58|                  4.62|                 76|           10|            13.16|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|              1.83|                43.35|                  4.21|             130774|        36642|            28.02|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|               1.9|                71.32|                  2.67|              34981|         2409|             6.89|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|              1.09|                60.84|                  1.79|              12428|         2875|            23.13|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              3.47|                88.75|                  3.91|              19743|          815|             4.13|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              1.39|                76.34|                  1.82|              27890|         2556|             9.16|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|              2.88|                23.82|                 12.09|                174|          208|           119.54|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|              0.36|                91.46|                  0.39|              36936|         2546|             6.89|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|              1.31|                55.56|                  2.36|             207453|        18772|             9.05|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|              6.36|                85.45|                  7.45|                106|            4|             3.77|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|               0.8|                89.95|                  0.89|              66213|         1038|             1.57|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|             14.79|                26.27|                 56.28|              64094|         2334|             3.64|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|              4.17|                54.17|                  7.69|                 40|            8|             20.0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              1.98|                58.53|                  3.38|               1602|          168|            10.49|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|               0.0|                86.87|                   0.0|                 90|            9|             10.0|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [ ]:
spark.sql('Select Recovered from Covid_Table').show()

+---------+
|Recovered|
+---------+
|    25198|
|     2745|
|    18837|
|      803|
|      242|
|       65|
|    72575|
|    26665|
|     9311|
|    18246|
|    23242|
|       91|
|    36110|
|   125683|
|       94|
|    60492|
|    17452|
|       26|
|     1036|
|       86|
+---------+
only showing top 20 rows

In [ ]:
spark = SparkSession.builder.appName('Titanic Csv').getOrCreate()
tit_df = spark.read.csv('/content/titanic.csv', sep=',', header=True)
tit_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
tit_df.describe('Survived').show()

+-------+-------------------+
|summary|           Survived|
+-------+-------------------+
|  count|                891|
|   mean| 0.3838383838383838|
| stddev|0.48659245426485753|
|    min|                  0|
|    max|                  1|
+-------+-------------------+

In [ ]:
len(tit_df.columns)

12

In [ ]:
tit_df.count()

891

In [ ]:
tit_df.filter(tit_df.Sex=='male').show()

+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|    Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|  22|    1|    0| A/5 21171|   7.25|       null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|  35|    0|    0|    373450|   8.05|       null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|    330877| 8.4583|       null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|male|  54|    0|    0|     17463|51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|male|   2|    3|    1|    349909| 21.075|       null|       S|
|         13|       0|     3|Saundercock, Mr. ...|male|  20|    0|    0| A/5. 2151|   8.05|       null|       S|
|         14|       0|     3|Andersson, Mr. An...|male|  39|    1|    5|    347082| 31.275|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|male|   2|    4|    1|    382652| 29.125|       null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|male|null|    0|    0|    244373|     13|       null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|male|  35|    0|    0|    239865|     26|       null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|male|  34|    0|    0|    248698|     13|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|male|  28|    0|    0|    113788|   35.5|         A6|       S|
|         27|       0|     3|Emir, Mr. Farred ...|male|null|    0|    0|      2631|  7.225|       null|       C|
|         28|       0|     1|Fortune, Mr. Char...|male|  19|    3|    2|     19950|    263|C23 C25 C27|       S|
|         30|       0|     3| Todoroff, Mr. Lalio|male|null|    0|    0|    349216| 7.8958|       null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|male|  40|    0|    0|  PC 17601|27.7208|       null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|male|  66|    0|    0|C.A. 24579|   10.5|       null|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|male|  28|    1|    0|  PC 17604|82.1708|       null|       C|
|         36|       0|     1|Holverson, Mr. Al...|male|  42|    1|    0|    113789|     52|       null|       S|
|         37|       1|     3|    Mamee, Mr. Hanna|male|null|    0|    0|      2677| 7.2292|       null|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----------+--------+
only showing top 20 rows

In [ ]:
tit_df.registerTempTable('Titanic_Table')

spark.sql('Select * from Titanic_Table').show()

/usr/local/lib/python3.10/dist-packages/pyspark/sql/dataframe.py:330: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|    0|    0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|    1|    0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [ ]:
spark.sql("Select * from Titanic_Table where Sex='male'").show()

+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----------+--------+
|PassengerId|Survived|Pclass|                Name| Sex| Age|SibSp|Parch|    Ticket|   Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|male|  22|    1|    0| A/5 21171|   7.25|       null|       S|
|          5|       0|     3|Allen, Mr. Willia...|male|  35|    0|    0|    373450|   8.05|       null|       S|
|          6|       0|     3|    Moran, Mr. James|male|null|    0|    0|    330877| 8.4583|       null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|male|  54|    0|    0|     17463|51.8625|        E46|       S|
|          8|       0|     3|Palsson, Master. ...|male|   2|    3|    1|    349909| 21.075|       null|       S|
|         13|       0|     3|Saundercock, Mr. ...|male|  20|    0|    0| A/5. 2151|   8.05|       null|       S|
|         14|       0|     3|Andersson, Mr. An...|male|  39|    1|    5|    347082| 31.275|       null|       S|
|         17|       0|     3|Rice, Master. Eugene|male|   2|    4|    1|    382652| 29.125|       null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|male|null|    0|    0|    244373|     13|       null|       S|
|         21|       0|     2|Fynney, Mr. Joseph J|male|  35|    0|    0|    239865|     26|       null|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|male|  34|    0|    0|    248698|     13|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|male|  28|    0|    0|    113788|   35.5|         A6|       S|
|         27|       0|     3|Emir, Mr. Farred ...|male|null|    0|    0|      2631|  7.225|       null|       C|
|         28|       0|     1|Fortune, Mr. Char...|male|  19|    3|    2|     19950|    263|C23 C25 C27|       S|
|         30|       0|     3| Todoroff, Mr. Lalio|male|null|    0|    0|    349216| 7.8958|       null|       S|
|         31|       0|     1|Uruchurtu, Don. M...|male|  40|    0|    0|  PC 17601|27.7208|       null|       C|
|         34|       0|     2|Wheadon, Mr. Edwa...|male|  66|    0|    0|C.A. 24579|   10.5|       null|       S|
|         35|       0|     1|Meyer, Mr. Edgar ...|male|  28|    1|    0|  PC 17604|82.1708|       null|       C|
|         36|       0|     1|Holverson, Mr. Al...|male|  42|    1|    0|    113789|     52|       null|       S|
|         37|       1|     3|    Mamee, Mr. Hanna|male|null|    0|    0|      2677| 7.2292|       null|       C|
+-----------+--------+------+--------------------+----+----+-----+-----+----------+-------+-----------+--------+
only showing top 20 rows

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=9983edb273e4922c75dd5285013863962acff70bf6095bcabd5e522a15bbb485
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
!unzip archive.zip

Archive:  archive.zip
  inflating: heart.csv

In [ ]:
# creating the session
from pyspark.sql import SparkSession
spark_session = SparkSession.builder.appName('test').getOrCreate()

In [ ]:
spark_session

In [ ]:
df = spark_session.read.csv('heart.csv')
df.show()

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|_c0|_c1|          _c2|      _c3|        _c4|      _c5|       _c6|  _c7|           _c8|    _c9|    _c10|        _c11|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|      0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|      1|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|      0|      Up|           0|
| 48|  F|          ASY|      138|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
| 54|  M|          NAP|      150|        195|        0|    Normal|  122|             N|      0|      Up|           0|
| 39|  M|          NAP|      120|        339|        0|    Normal|  170|             N|      0|      Up|           0|
| 45|  F|          ATA|      130|        237|        0|    Normal|  170|             N|      0|      Up|           0|
| 54|  M|          ATA|      110|        208|        0|    Normal|  142|             N|      0|      Up|           0|
| 37|  M|          ASY|      140|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
| 48|  F|          ATA|      120|        284|        0|    Normal|  120|             N|      0|      Up|           0|
| 37|  F|          NAP|      130|        211|        0|    Normal|  142|             N|      0|      Up|           0|
| 58|  M|          ATA|      136|        164|        0|        ST|   99|             Y|      2|    Flat|           1|
| 39|  M|          ATA|      120|        204|        0|    Normal|  145|             N|      0|      Up|           0|
| 49|  M|          ASY|      140|        234|        0|    Normal|  140|             Y|      1|    Flat|           1|
| 42|  F|          NAP|      115|        211|        0|        ST|  137|             N|      0|      Up|           0|
| 54|  F|          ATA|      120|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
| 38|  M|          ASY|      110|        196|        0|    Normal|  166|             N|      0|    Flat|           1|
| 43|  F|          ATA|      120|        201|        0|    Normal|  165|             N|      0|      Up|           0|
| 60|  M|          ASY|      100|        248|        0|    Normal|  125|             N|      1|    Flat|           1|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
df.count()

919

In [ ]:
df = spark_session.read.csv('heart.csv', inferSchema=True, header=True)
df.show(3)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 3 rows

In [ ]:
df = spark_session.read.csv('heart.csv', inferSchema=True, header=True, nullValue='NA')
df.show(3)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 3 rows

In [ ]:
df.select(['Age', 'Sex']).show(3)

+---+---+
|Age|Sex|
+---+---+
| 40|  M|
| 49|  F|
| 37|  M|
+---+---+
only showing top 3 rows

In [ ]:
df.cache()
df.collect()

[Row(Age=40, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=289, FastingBS=0, RestingECG='Normal', MaxHR=172, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=49, Sex='F', ChestPainType='NAP', RestingBP=160, Cholesterol=180, FastingBS=0, RestingECG='Normal', MaxHR=156, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=37, Sex='M', ChestPainType='ATA', RestingBP=130, Cholesterol=283, FastingBS=0, RestingECG='ST', MaxHR=98, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=48, Sex='F', ChestPainType='ASY', RestingBP=138, Cholesterol=214, FastingBS=0, RestingECG='Normal', MaxHR=108, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=1),
 Row(Age=54, Sex='M', ChestPainType='NAP', RestingBP=150, Cholesterol=195, FastingBS=0, RestingECG='Normal', MaxHR=122, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=39, Sex='M', ChestPainType='NAP', RestingBP=120, Cholesterol=339, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=45, Sex='F', ChestPainType='ATA', RestingBP=130, Cholesterol=237, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=54, Sex='M', ChestPainType='ATA', RestingBP=110, Cholesterol=208, FastingBS=0, RestingECG='Normal', MaxHR=142, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=37, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=207, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=1),
 Row(Age=48, Sex='F', ChestPainType='ATA', RestingBP=120, Cholesterol=284, FastingBS=0, RestingECG='Normal', MaxHR=120, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=37, Sex='F', ChestPainType='NAP', RestingBP=130, Cholesterol=211, FastingBS=0, RestingECG='Normal', MaxHR=142, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=58, Sex='M', ChestPainType='ATA', RestingBP=136, Cholesterol=164, FastingBS=0, RestingECG='ST', MaxHR=99, ExerciseAngina='Y', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=39, Sex='M', ChestPainType='ATA', RestingBP=120, Cholesterol=204, FastingBS=0, RestingECG='Normal', MaxHR=145, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=49, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=234, FastingBS=0, RestingECG='Normal', MaxHR=140, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=42, Sex='F', ChestPainType='NAP', RestingBP=115, Cholesterol=211, FastingBS=0, RestingECG='ST', MaxHR=137, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=54, Sex='F', ChestPainType='ATA', RestingBP=120, Cholesterol=273, FastingBS=0, RestingECG='Normal', MaxHR=150, ExerciseAngina='N', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=0),
 Row(Age=38, Sex='M', ChestPainType='ASY', RestingBP=110, Cholesterol=196, FastingBS=0, RestingECG='Normal', MaxHR=166, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=43, Sex='F', ChestPainType='ATA', RestingBP=120, Cholesterol=201, FastingBS=0, RestingECG='Normal', MaxHR=165, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=60, Sex='M', ChestPainType='ASY', RestingBP=100, Cholesterol=248, FastingBS=0, RestingECG='Normal', MaxHR=125, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=36, Sex='M', ChestPainType='ATA', RestingBP=120, Cholesterol=267, FastingBS=0, RestingECG='Normal', MaxHR=160, ExerciseAngina='N', Oldpeak=3.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=43, Sex='F', ChestPainType='TA', RestingBP=100, Cholesterol=223, FastingBS=0, RestingECG='Normal', MaxHR=142, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=44, Sex='M', ChestPainType='ATA', RestingBP=120, Cholesterol=184, FastingBS=0, RestingECG='Normal', MaxHR=142, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=0),
 Row(Age=49, Sex='F', ChestPainType='ATA', RestingBP=124, Cholesterol=201, FastingBS=0, RestingECG='Normal', MaxHR=164, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=44, Sex='M', ChestPainType='ATA', RestingBP=150, Cholesterol=288, FastingBS=0, RestingECG='Normal', MaxHR=150, ExerciseAngina='Y', Oldpeak=3.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=40, Sex='M', ChestPainType='NAP', RestingBP=130, Cholesterol=215, FastingBS=0, RestingECG='Normal', MaxHR=138, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=36, Sex='M', ChestPainType='NAP', RestingBP=130, Cholesterol=209, FastingBS=0, RestingECG='Normal', MaxHR=178, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=53, Sex='M', ChestPainType='ASY', RestingBP=124, Cholesterol=260, FastingBS=0, RestingECG='ST', MaxHR=112, ExerciseAngina='Y', Oldpeak=3.0, ST_Slope='Flat', HeartDisease=0),
 Row(Age=52, Sex='M', ChestPainType='ATA', RestingBP=120, Cholesterol=284, FastingBS=0, RestingECG='Normal', MaxHR=118, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=53, Sex='F', ChestPainType='ATA', RestingBP=113, Cholesterol=468, FastingBS=0, RestingECG='Normal', MaxHR=127, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=51, Sex='M', ChestPainType='ATA', RestingBP=125, Cholesterol=188, FastingBS=0, RestingECG='Normal', MaxHR=145, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=53, Sex='M', ChestPainType='NAP', RestingBP=145, Cholesterol=518, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=56, Sex='M', ChestPainType='NAP', RestingBP=130, Cholesterol=167, FastingBS=0, RestingECG='Normal', MaxHR=114, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=54, Sex='M', ChestPainType='ASY', RestingBP=125, Cholesterol=224, FastingBS=0, RestingECG='Normal', MaxHR=122, ExerciseAngina='N', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=41, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=172, FastingBS=0, RestingECG='ST', MaxHR=130, ExerciseAngina='N', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=43, Sex='F', ChestPainType='ATA', RestingBP=150, Cholesterol=186, FastingBS=0, RestingECG='Normal', MaxHR=154, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=32, Sex='M', ChestPainType='ATA', RestingBP=125, Cholesterol=254, FastingBS=0, RestingECG='Normal', MaxHR=155, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=65, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=306, FastingBS=1, RestingECG='Normal', MaxHR=87, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=1),
 Row(Age=41, Sex='F', ChestPainType='ATA', RestingBP=110, Cholesterol=250, FastingBS=0, RestingECG='ST', MaxHR=142, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=48, Sex='F', ChestPainType='ATA', RestingBP=120, Cholesterol=177, FastingBS=1, RestingECG='ST', MaxHR=148, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=48, Sex='F', ChestPainType='ASY', RestingBP=150, Cholesterol=227, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=0),
 Row(Age=54, Sex='F', ChestPainType='ATA', RestingBP=150, Cholesterol=230, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=54, Sex='F', ChestPainType='NAP', RestingBP=130, Cholesterol=294, FastingBS=0, RestingECG='ST', MaxHR=100, ExerciseAngina='Y', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=35, Sex='M', ChestPainType='ATA', RestingBP=150, Cholesterol=264, FastingBS=0, RestingECG='Normal', MaxHR=168, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='M', ChestPainType='NAP', RestingBP=140, Cholesterol=259, FastingBS=0, RestingECG='ST', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=43, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=175, FastingBS=0, RestingECG='Normal', MaxHR=120, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=59, Sex='M', ChestPainType='NAP', RestingBP=130, Cholesterol=318, FastingBS=0, RestingECG='Normal', MaxHR=120, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=0),
 Row(Age=37, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=223, FastingBS=0, RestingECG='Normal', MaxHR=168, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=50, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=216, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=36, Sex='M', ChestPainType='NAP', RestingBP=112, Cholesterol=340, FastingBS=0, RestingECG='Normal', MaxHR=184, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=0),
 Row(Age=41, Sex='M', ChestPainType='ASY', RestingBP=110, Cholesterol=289, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=50, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=233, FastingBS=0, RestingECG='Normal', MaxHR=121, ExerciseAngina='Y', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=47, Sex='F', ChestPainType='ASY', RestingBP=120, Cholesterol=205, FastingBS=0, RestingECG='Normal', MaxHR=98, ExerciseAngina='Y', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=45, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=224, FastingBS=1, RestingECG='Normal', MaxHR=122, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=41, Sex='F', ChestPainType='ATA', RestingBP=130, Cholesterol=245, FastingBS=0, RestingECG='Normal', MaxHR=150, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='F', ChestPainType='ASY', RestingBP=130, Cholesterol=180, FastingBS=0, RestingECG='Normal', MaxHR=140, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=0),
 Row(Age=51, Sex='F', ChestPainType='ATA', RestingBP=160, Cholesterol=194, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=31, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=270, FastingBS=0, RestingECG='Normal', MaxHR=153, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=1),
 Row(Age=58, Sex='M', ChestPainType='NAP', RestingBP=130, Cholesterol=213, FastingBS=0, RestingECG='ST', MaxHR=140, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=54, Sex='M', ChestPainType='ASY', RestingBP=150, Cholesterol=365, FastingBS=0, RestingECG='ST', MaxHR=134, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='M', ChestPainType='ASY', RestingBP=112, Cholesterol=342, FastingBS=0, RestingECG='ST', MaxHR=96, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=49, Sex='M', ChestPainType='ATA', RestingBP=100, Cholesterol=253, FastingBS=0, RestingECG='Normal', MaxHR=174, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=43, Sex='F', ChestPainType='NAP', RestingBP=150, Cholesterol=254, FastingBS=0, RestingECG='Normal', MaxHR=175, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=45, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=224, FastingBS=0, RestingECG='Normal', MaxHR=144, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=46, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=277, FastingBS=0, RestingECG='Normal', MaxHR=125, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=50, Sex='F', ChestPainType='ATA', RestingBP=110, Cholesterol=202, FastingBS=0, RestingECG='Normal', MaxHR=145, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=37, Sex='F', ChestPainType='ATA', RestingBP=120, Cholesterol=260, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=45, Sex='F', ChestPainType='ASY', RestingBP=132, Cholesterol=297, FastingBS=0, RestingECG='Normal', MaxHR=144, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=32, Sex='M', ChestPainType='ATA', RestingBP=110, Cholesterol=225, FastingBS=0, RestingECG='Normal', MaxHR=184, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='M', ChestPainType='ASY', RestingBP=160, Cholesterol=246, FastingBS=0, RestingECG='ST', MaxHR=82, ExerciseAngina='Y', Oldpeak=4.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=44, Sex='M', ChestPainType='ASY', RestingBP=150, Cholesterol=412, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=57, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=265, FastingBS=0, RestingECG='ST', MaxHR=145, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=44, Sex='M', ChestPainType='ATA', RestingBP=130, Cholesterol=215, FastingBS=0, RestingECG='Normal', MaxHR=135, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=182, FastingBS=0, RestingECG='Normal', MaxHR=150, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=44, Sex='F', ChestPainType='ASY', RestingBP=120, Cholesterol=218, FastingBS=0, RestingECG='ST', MaxHR=115, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=55, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=268, FastingBS=0, RestingECG='Normal', MaxHR=128, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=1),
 Row(Age=46, Sex='M', ChestPainType='NAP', RestingBP=150, Cholesterol=163, FastingBS=0, RestingECG='Normal', MaxHR=116, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=32, Sex='M', ChestPainType='ASY', RestingBP=118, Cholesterol=529, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=35, Sex='F', ChestPainType='ASY', RestingBP=140, Cholesterol=167, FastingBS=0, RestingECG='Normal', MaxHR=150, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=100, FastingBS=0, RestingECG='Normal', MaxHR=138, ExerciseAngina='Y', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=49, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=206, FastingBS=0, RestingECG='Normal', MaxHR=170, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=55, Sex='M', ChestPainType='NAP', RestingBP=110, Cholesterol=277, FastingBS=0, RestingECG='Normal', MaxHR=160, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=54, Sex='M', ChestPainType='ATA', RestingBP=120, Cholesterol=238, FastingBS=0, RestingECG='Normal', MaxHR=154, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=63, Sex='M', ChestPainType='ASY', RestingBP=150, Cholesterol=223, FastingBS=0, RestingECG='Normal', MaxHR=115, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=52, Sex='M', ChestPainType='ATA', RestingBP=160, Cholesterol=196, FastingBS=0, RestingECG='Normal', MaxHR=165, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=56, Sex='M', ChestPainType='ASY', RestingBP=150, Cholesterol=213, FastingBS=1, RestingECG='Normal', MaxHR=125, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=66, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=139, FastingBS=0, RestingECG='Normal', MaxHR=94, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=65, Sex='M', ChestPainType='ASY', RestingBP=170, Cholesterol=263, FastingBS=1, RestingECG='Normal', MaxHR=112, ExerciseAngina='Y', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=53, Sex='F', ChestPainType='ATA', RestingBP=140, Cholesterol=216, FastingBS=0, RestingECG='Normal', MaxHR=142, ExerciseAngina='Y', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=0),
 Row(Age=43, Sex='M', ChestPainType='TA', RestingBP=120, Cholesterol=291, FastingBS=0, RestingECG='ST', MaxHR=155, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=55, Sex='M', ChestPainType='ASY', RestingBP=140, Cholesterol=229, FastingBS=0, RestingECG='Normal', MaxHR=110, ExerciseAngina='Y', Oldpeak=0.5, ST_Slope='Flat', HeartDisease=0),
 Row(Age=49, Sex='F', ChestPainType='ATA', RestingBP=110, Cholesterol=208, FastingBS=0, RestingECG='Normal', MaxHR=160, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=39, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=307, FastingBS=0, RestingECG='Normal', MaxHR=140, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=52, Sex='F', ChestPainType='ATA', RestingBP=120, Cholesterol=210, FastingBS=0, RestingECG='Normal', MaxHR=148, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=48, Sex='M', ChestPainType='ASY', RestingBP=160, Cholesterol=329, FastingBS=0, RestingECG='Normal', MaxHR=92, ExerciseAngina='Y', Oldpeak=1.5, ST_Slope='Flat', HeartDisease=1),
 Row(Age=39, Sex='F', ChestPainType='NAP', RestingBP=110, Cholesterol=182, FastingBS=0, RestingECG='ST', MaxHR=180, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=58, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=263, FastingBS=0, RestingECG='Normal', MaxHR=140, ExerciseAngina='Y', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=43, Sex='M', ChestPainType='ATA', RestingBP=142, Cholesterol=207, FastingBS=0, RestingECG='Normal', MaxHR=138, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=39, Sex='M', ChestPainType='NAP', RestingBP=160, Cholesterol=147, FastingBS=1, RestingECG='Normal', MaxHR=160, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=56, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=85, FastingBS=0, RestingECG='Normal', MaxHR=140, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=41, Sex='M', ChestPainType='ATA', RestingBP=125, Cholesterol=269, FastingBS=0, RestingECG='Normal', MaxHR=144, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=65, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=275, FastingBS=0, RestingECG='ST', MaxHR=115, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=51, Sex='M', ChestPainType='ASY', RestingBP=130, Cholesterol=179, FastingBS=0, RestingECG='Normal', MaxHR=100, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=40, Sex='F', ChestPainType='ASY', RestingBP=150, Cholesterol=392, FastingBS=0, RestingECG='Normal', MaxHR=130, ExerciseAngina='N', Oldpeak=2.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=40, Sex='M', ChestPainType='ASY', RestingBP=120, Cholesterol=466, FastingBS=1, RestingECG='Normal', MaxHR=152, ExerciseAngina='Y', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=46, Sex='M', ChestPainType='ASY', RestingBP=118, Cholesterol=186, FastingBS=0, RestingECG='Normal', MaxHR=124, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=57, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=260, FastingBS=1, RestingECG='Normal', MaxHR=140, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=48, Sex='F', ChestPainType='ASY', RestingBP=120, Cholesterol=254, FastingBS=0, RestingECG='ST', MaxHR=110, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=34, Sex='M', ChestPainType='ATA', RestingBP=150, Cholesterol=214, FastingBS=0, RestingECG='ST', MaxHR=168, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),

In [ ]:
#convert it into pandas dataframe
pd_df = df.toPandas()
pd_df.shape

(918, 12)

In [ ]:
pd_df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [ ]:
#convert it into sparkdataframe
df = spark_session.createDataFrame(pd_df)
df.show(3)

+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| 40|  M|          ATA|      140|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
| 49|  F|          NAP|      160|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
| 37|  M|          ATA|      130|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
+---+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 3 rows

In [ ]:
df.head(3)

[Row(Age=40, Sex='M', ChestPainType='ATA', RestingBP=140, Cholesterol=289, FastingBS=0, RestingECG='Normal', MaxHR=172, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0),
 Row(Age=49, Sex='F', ChestPainType='NAP', RestingBP=160, Cholesterol=180, FastingBS=0, RestingECG='Normal', MaxHR=156, ExerciseAngina='N', Oldpeak=1.0, ST_Slope='Flat', HeartDisease=1),
 Row(Age=37, Sex='M', ChestPainType='ATA', RestingBP=130, Cholesterol=283, FastingBS=0, RestingECG='ST', MaxHR=98, ExerciseAngina='N', Oldpeak=0.0, ST_Slope='Up', HeartDisease=0)]

In [ ]:
df.printSchema()

root
 |-- Age: long (nullable = true)
 |-- Sex: string (nullable = true)
 |-- ChestPainType: string (nullable = true)
 |-- RestingBP: long (nullable = true)
 |-- Cholesterol: long (nullable = true)
 |-- FastingBS: long (nullable = true)
 |-- RestingECG: string (nullable = true)
 |-- MaxHR: long (nullable = true)
 |-- ExerciseAngina: string (nullable = true)
 |-- Oldpeak: double (nullable = true)
 |-- ST_Slope: string (nullable = true)
 |-- HeartDisease: long (nullable = true)

In [ ]:
#convert a column to another datatype
from pyspark.sql.types import FloatType
df = df.withColumn('Age', df.Age.cast(FloatType()))
df = df.withColumn('RestingBP', df.RestingBP.cast(FloatType()))
df.show()

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|40.0|  M|          ATA|    140.0|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
|49.0|  F|          NAP|    160.0|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
|37.0|  M|          ATA|    130.0|        283|        0|        ST|   98|             N|    0.0|      Up|           0|
|48.0|  F|          ASY|    138.0|        214|        0|    Normal|  108|             Y|    1.5|    Flat|           1|
|54.0|  M|          NAP|    150.0|        195|        0|    Normal|  122|             N|    0.0|      Up|           0|
|39.0|  M|          NAP|    120.0|        339|        0|    Normal|  170|             N|    0.0|      Up|           0|
|45.0|  F|          ATA|    130.0|        237|        0|    Normal|  170|             N|    0.0|      Up|           0|
|54.0|  M|          ATA|    110.0|        208|        0|    Normal|  142|             N|    0.0|      Up|           0|
|37.0|  M|          ASY|    140.0|        207|        0|    Normal|  130|             Y|    1.5|    Flat|           1|
|48.0|  F|          ATA|    120.0|        284|        0|    Normal|  120|             N|    0.0|      Up|           0|
|37.0|  F|          NAP|    130.0|        211|        0|    Normal|  142|             N|    0.0|      Up|           0|
|58.0|  M|          ATA|    136.0|        164|        0|        ST|   99|             Y|    2.0|    Flat|           1|
|39.0|  M|          ATA|    120.0|        204|        0|    Normal|  145|             N|    0.0|      Up|           0|
|49.0|  M|          ASY|    140.0|        234|        0|    Normal|  140|             Y|    1.0|    Flat|           1|
|42.0|  F|          NAP|    115.0|        211|        0|        ST|  137|             N|    0.0|      Up|           0|
|54.0|  F|          ATA|    120.0|        273|        0|    Normal|  150|             N|    1.5|    Flat|           0|
|38.0|  M|          ASY|    110.0|        196|        0|    Normal|  166|             N|    0.0|    Flat|           1|
|43.0|  F|          ATA|    120.0|        201|        0|    Normal|  165|             N|    0.0|      Up|           0|
|60.0|  M|          ASY|    100.0|        248|        0|    Normal|  125|             N|    1.0|    Flat|           1|
|36.0|  M|          ATA|    120.0|        267|        0|    Normal|  160|             N|    3.0|    Flat|           1|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 20 rows

In [ ]:
pd_df[['Age', 'RestingBP']] = pd_df[['Age', 'RestingBP']].astype('float', errors='ignore')
pd_df.head(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40.0,M,ATA,140.0,289,0,Normal,172,N,0.0,Up,0
1,49.0,F,NAP,160.0,180,0,Normal,156,N,1.0,Flat,1
2,37.0,M,ATA,130.0,283,0,ST,98,N,0.0,Up,0

In [ ]:
df.select(['Age']).describe().show()

+-------+------------------+
|summary|               Age|
+-------+------------------+
|  count|               918|
|   mean|53.510893246187365|
| stddev| 9.432616506732021|
|    min|              28.0|
|    max|              77.0|
+-------+------------------+

In [ ]:
pd_df['Age'].describe()

count    918.000000
mean      53.510893
std        9.432617
min       28.000000
25%       47.000000
50%       54.000000
75%       60.000000
max       77.000000
Name: Age, dtype: float64

In [ ]:
AgeFixed = df['Age'] + 1
df = df.withColumn('AgeFixed', AgeFixed)
df.show(3)

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+--------+
| Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|AgeFixed|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+--------+
|40.0|  M|          ATA|    140.0|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|    41.0|
|49.0|  F|          NAP|    160.0|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|    50.0|
|37.0|  M|          ATA|    130.0|        283|        0|        ST|   98|             N|    0.0|      Up|           0|    38.0|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+--------+
only showing top 3 rows

In [ ]:
pd_df['AgeFixed'] = pd_df['Age']+1
pd_df.head(3)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,AgeFixed
0,40.0,M,ATA,140.0,289,0,Normal,172,N,0.0,Up,0,41.0
1,49.0,F,NAP,160.0,180,0,Normal,156,N,1.0,Flat,1,50.0
2,37.0,M,ATA,130.0,283,0,ST,98,N,0.0,Up,0,38.0

In [ ]:
df.drop('AgeFixed').show(2)

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
| Age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
|40.0|  M|          ATA|    140.0|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|
|49.0|  F|          NAP|    160.0|        180|        0|    Normal|  156|             N|    1.0|    Flat|           1|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+
only showing top 2 rows

In [ ]:
#rename a column
df.withColumnRenamed('Age', 'age').show(1)

+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+--------+
| age|Sex|ChestPainType|RestingBP|Cholesterol|FastingBS|RestingECG|MaxHR|ExerciseAngina|Oldpeak|ST_Slope|HeartDisease|AgeFixed|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+--------+
|40.0|  M|          ATA|    140.0|        289|        0|    Normal|  172|             N|    0.0|      Up|           0|    41.0|
+----+---+-------------+---------+-----------+---------+----------+-----+--------------+-------+--------+------------+--------+
only showing top 1 row

In [ ]:
pd_df.rename(columns = {'Age':'age'}, inplace=True)
pd_df.head(1)

,age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,AgeFixed
0,40.0,M,ATA,140.0,289,0,Normal,172,N,0.0,Up,0,41.0

In [ ]:
df.count()

918

In [ ]:
df.na.drop()
print(df.count())

918

In [ ]:
df.na.drop(how='all')
df.count()

918

In [ ]:
df.na.drop(thresh=2)
df.count()

918

In [ ]:
df.na.drop(how='any', subset=['Age', 'Sex'])
df.count()

918

## Doing the pyspark on New dataset

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('churn').getOrCreate()
spark

In [ ]:
df = spark.read.csv('churn.csv', inferSchema=True, header=True)

In [ ]:
df.show(5)

+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
| user|churn| age|housing|credit_score|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|rewards_earned|reward_rate|is_referred|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|55409|    0|37.0|     na|        null|       0|         0|                 0|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|          null|        0.0|          0|
|23547|    0|28.0|      R|       486.0|       0|         0|                 1|        0|       0|            96|          0|       0|                   5|             1|       1|           1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|          44.0|       1.47|          1|
|58313|    0|35.0|      R|       561.0|      47|         2|                86|       47|       0|           285|          0|       0|                   9|             1|       0|           0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|          65.0|       2.17|          0|
| 8095|    0|26.0|      R|       567.0|      26|         3|                38|       25|       0|            74|          0|       0|                  26|             1|       0|           0|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|  Capricorn|                      0|                 0|          33.0|        1.1|          1|
|61353|    1|27.0|     na|        null|       0|         0|                 2|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|      Aries|                      1|                 0|           1.0|       0.03|          0|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
only showing top 5 rows

In [ ]:
df.describe().show()

+-------+------------------+-------------------+------------------+-------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-----------------+-------------------+--------------------+--------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------+--------------------+--------------------+--------------------+--------------------+-----------+-----------------------+--------------------+------------------+------------------+-------------------+
|summary|              user|              churn|               age|housing|     credit_score|          deposits|       withdrawal|purchases_partners|         purchases|           cc_taken|   cc_recommended|        cc_disliked|            cc_liked|cc_application_begin|    app_downloaded|           web_user|      app_web_user|           ios_user|       android_user| registered_phones|payment_type|      waiting_4_loan|      cancelled_loan|       received_loan|       rejected_loan|zodiac_sign|left_for_two_month_plus|  left_for_one_month|    rewards_earned|       reward_rate|        is_referred|
+-------+------------------+-------------------+------------------+-------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-----------------+-------------------+--------------------+--------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------+--------------------+--------------------+--------------------+--------------------+-----------+-----------------------+--------------------+------------------+------------------+-------------------+
|  count|             27000|              27000|             26996|  27000|            18969|             27000|            27000|             27000|             27000|              27000|            27000|              27000|               27000|               27000|             27000|              27000|             27000|              27000|              27000|             27000|       27000|               27000|               27000|               27000|               27000|      27000|                  27000|               27000|             23773|             27000|              27000|
|   mean| 35422.70251851852|0.41385185185185186|32.219921469847385|   null|542.9442247878117|3.3415555555555554|            0.307| 28.06251851851852|3.2734814814814817|0.07377777777777778|92.62577777777778|0.05062962962962963|0.013111111111111112|   8.197851851851851|0.9524814814814815| 0.6060740740740741|0.5617407407407408| 0.3939259259259259| 0.5872592592592593|0.4209259259259259|        null|0.001296296296296...|0.018814814814814815|0.018185185185185186|0.004888888888888889|       null|    0.17344444444444446|0.018074074074074076|29.110124931645142|0.9076844444444258|0.31803703703703706|
| stddev|20321.006677600148| 0.4925317058750379| 9.964837840756536|   null| 61.0593148493553| 9.131406035993571|1.055416205480738|42.219686022056834| 8.953076794382149| 0.4372991982467374| 88.8693428410003| 0.8713664997486357| 0.23815769641415566|  12.497243038916212|0.2127491134965235|0.48862780688999913|0.4961826270110387|0.48862780688999863|0.49233606333345276|0.9128305613632373|        null|0.035981437752290193| 0.13587310741131628| 0.13362314742084147| 0.06975075516238283|       null|     0.3786380580666803| 0.13322184226307227|21.973478128847987|0.7520160203071283|  0.465722571227737|
|    min|                 1|                  0|              17.0|      O|              2.0|                 0|                0|                 0|                 0|                  0|                0|                  0|                   0|                   0|                 0|                  0|                 0|                  0|                  0|                 0|   Bi-Weekly|                   0|                   0|                   0|                   0|   Aquarius|                      0|                   0|               1.0|               0.0|                  0|
|    max|             69658|                  1|              91.0|     na|            838.0|                65|               29|              1067|                63|                 29|              522|                 65|                  27|                 263|                 1|                  1|                 1|                  1|                  1|                 5|          na|                   1|                   1|                   1|                   1|         na|                      1|                   1|             114.0|               4.0|                  1|
+-------+------------------+-------------------+------------------+-------+-----------------+------------------+-----------------+------------------+------------------+-------------------+-----------------+-------------------+--------------------+--------------------+------------------+-------------------+------------------+-------------------+-------------------+------------------+------------+--------------------+--------------------+--------------------+--------------------+-----------+-----------------------+--------------------+------------------+------------------+-------------------+

In [ ]:
from pyspark.sql.functions import col,isnan, when, count
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-----+---+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|user|churn|age|housing|credit_score|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|rewards_earned|reward_rate|is_referred|
+----+-----+---+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|   0|    0|  4|      0|        8031|       0|         0|                 0|        0|       0|             0|          0|       0|                   0|             0|       0|           0|       0|           0|                0|           0|             0|             0|            0|            0|          0|                      0|                 0|          3227|          0|          0|
+----+-----+---+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+

In [ ]:
df = df.na.drop(how='all', subset=['age'])
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+----+-----+---+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|user|churn|age|housing|credit_score|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|rewards_earned|reward_rate|is_referred|
+----+-----+---+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|   0|    0|  0|      0|        8027|       0|         0|                 0|        0|       0|             0|          0|       0|                   0|             0|       0|           0|       0|           0|                0|           0|             0|             0|            0|            0|          0|                      0|                 0|          3223|          0|          0|
+----+-----+---+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+

In [ ]:
df = df.drop('credit_score', 'rewards_earned')
df.show(5)

+-----+-----+----+-------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+-----------+
| user|churn| age|housing|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|reward_rate|is_referred|
+-----+-----+----+-------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+-----------+
|55409|    0|37.0|     na|       0|         0|                 0|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|        0.0|          0|
|23547|    0|28.0|      R|       0|         0|                 1|        0|       0|            96|          0|       0|                   5|             1|       1|           1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|       1.47|          1|
|58313|    0|35.0|      R|      47|         2|                86|       47|       0|           285|          0|       0|                   9|             1|       0|           0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|       2.17|          0|
| 8095|    0|26.0|      R|      26|         3|                38|       25|       0|            74|          0|       0|                  26|             1|       0|           0|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|  Capricorn|                      0|                 0|        1.1|          1|
|61353|    1|27.0|     na|       0|         0|                 2|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|      Aries|                      1|                 0|       0.03|          0|
+-----+-----+----+-------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+-----------+
only showing top 5 rows

In [ ]:
new_df = df[['housing', 'is_referred', 'app_downloaded',
                    'web_user', 'app_web_user', 'ios_user',
                    'android_user', 'registered_phones', 'payment_type',
                    'waiting_4_loan', 'cancelled_loan',
                    'received_loan', 'rejected_loan', 'zodiac_sign',
                    'left_for_two_month_plus', 'left_for_one_month', 'is_referred']]
new_df.show(3)

+-------+-----------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+
|housing|is_referred|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|is_referred|
+-------+-----------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+
|     na|          0|             1|       1|           1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|          0|
|      R|          1|             1|       1|           1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|          1|
|      R|          0|             1|       0|           0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|          0|
+-------+-----------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+
only showing top 3 rows

In [ ]:
df.count()

26996

In [ ]:
new_df.count()

26996

In [ ]:
print(len(df.columns))
print(len(new_df.columns))

29
17

In [ ]:
new_df = new_df.drop('app_web_user')
print(len(new_df.columns))

16

In [ ]:
new_df = new_df.drop('is_referred')
print(len(new_df.columns))

14

In [ ]:
new_df.write.format('csv').save('new_churn.csv')

In [ ]:
new_df.show(2)

+-------+-----------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+
|housing|is_referred|app_downloaded|web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|is_referred|
+-------+-----------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+
|     na|          0|             1|       1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|          0|
|      R|          1|             1|       1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|          1|
+-------+-----------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+-----------+
only showing top 2 rows

In [ ]:
new_df.createOrReplaceTempView('new_churn')

spark.sql('select * from new_churn').show(3)

+-------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+
|housing|app_downloaded|web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|
+-------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+
|     na|             1|       1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|
|      R|             1|       1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|
|      R|             1|       0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|
+-------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+
only showing top 3 rows

In [ ]:
spark.sql('select * from new_churn where ios_user=1').show(5)

+-------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+
|housing|app_downloaded|web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|
+-------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+
|     na|             1|       1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|
|      R|             1|       1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|
|      R|             1|       1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|Sagittarius|                      0|                 0|
|     na|             1|       1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|   Aquarius|                      0|                 0|
|      R|             1|       1|       1|           0|                0|     Monthly|             0|             0|            0|            0|      Virgo|                      0|                 0|
+-------+--------------+--------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+
only showing top 5 rows

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285398 sha256=99e8d5dbbdfbb46bd853204c03a6a3837eb044931d141eb437bdd352f76052e3
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('test').getOrCreate()
df = spark.read.csv('churn.csv', inferSchema=True, header=True)
df.show(5)

+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
| user|churn| age|housing|credit_score|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|rewards_earned|reward_rate|is_referred|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|55409|    0|37.0|     na|        null|       0|         0|                 0|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|          null|        0.0|          0|
|23547|    0|28.0|      R|       486.0|       0|         0|                 1|        0|       0|            96|          0|       0|                   5|             1|       1|           1|       1|           0|                0|      Weekly|             0|             0|            0|            0|        Leo|                      0|                 0|          44.0|       1.47|          1|
|58313|    0|35.0|      R|       561.0|      47|         2|                86|       47|       0|           285|          0|       0|                   9|             1|       0|           0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|          65.0|       2.17|          0|
| 8095|    0|26.0|      R|       567.0|      26|         3|                38|       25|       0|            74|          0|       0|                  26|             1|       0|           0|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|  Capricorn|                      0|                 0|          33.0|        1.1|          1|
|61353|    1|27.0|     na|        null|       0|         0|                 2|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|      Aries|                      1|                 0|           1.0|       0.03|          0|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
only showing top 5 rows

In [ ]:
# filtering using age greate than 30
df.filter('Age>=30').show(4)

+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
| user|churn| age|housing|credit_score|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|rewards_earned|reward_rate|is_referred|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
|55409|    0|37.0|     na|        null|       0|         0|                 0|        0|       0|             0|          0|       0|                   0|             1|       1|           1|       1|           0|                0|   Bi-Weekly|             0|             0|            0|            0|        Leo|                      1|                 0|          null|        0.0|          0|
|58313|    0|35.0|      R|       561.0|      47|         2|                86|       47|       0|           285|          0|       0|                   9|             1|       0|           0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|          65.0|       2.17|          0|
| 3120|    1|32.0|      R|       567.0|       5|         3|               111|        5|       0|           227|          0|       0|                  17|             1|       1|           1|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|     Taurus|                      0|                 0|          55.0|       1.83|          0|
|13840|    0|32.0|      R|        null|       0|         0|                30|        0|       0|            70|          0|       0|                   3|             1|       1|           1|       1|           0|                0|     Monthly|             0|             0|            0|            0|      Virgo|                      0|                 0|          19.0|       0.83|          1|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+-----------+-----------+
only showing top 4 rows

In [ ]:
#  filter using age and only. print credit_score age
df.filter('Age>=30').select('credit_score', 'Age').show(4)

+------------+----+
|credit_score| Age|
+------------+----+
|        null|37.0|
|       561.0|35.0|
|       567.0|32.0|
|        null|32.0|
+------------+----+
only showing top 4 rows

In [ ]:
#filter multiple conditions
df.filter((df['Age']>=30) & (df['credit_score']>=500)).show(4)

+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+------------------+-----------+
| user|churn| age|housing|credit_score|deposits|withdrawal|purchases_partners|purchases|cc_taken|cc_recommended|cc_disliked|cc_liked|cc_application_begin|app_downloaded|web_user|app_web_user|ios_user|android_user|registered_phones|payment_type|waiting_4_loan|cancelled_loan|received_loan|rejected_loan|zodiac_sign|left_for_two_month_plus|left_for_one_month|rewards_earned|       reward_rate|is_referred|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+------------------+-----------+
|58313|    0|35.0|      R|       561.0|      47|         2|                86|       47|       0|           285|          0|       0|                   9|             1|       0|           0|       0|           1|                2|Semi-Monthly|             0|             0|            0|            0|  Capricorn|                      1|                 0|          65.0|              2.17|          0|
| 3120|    1|32.0|      R|       567.0|       5|         3|               111|        5|       0|           227|          0|       0|                  17|             1|       1|           1|       0|           1|                0|   Bi-Weekly|             0|             0|            0|            0|     Taurus|                      0|                 0|          55.0|              1.83|          0|
|25899|    0|41.0|      O|       625.0|      14|         0|               116|       13|       0|           217|          0|       0|                  45|             1|       1|           1|       1|           0|                0|Semi-Monthly|             0|             0|            0|            0|      Virgo|                      0|                 0|          65.0|              2.17|          0|
|30693|    0|31.0|      R|       565.0|      17|         2|                62|       17|       0|           180|          0|       0|                  22|             1|       1|           1|       0|           1|                0|          na|             0|             0|            0|            0|      Libra|                      0|                 0|          43.0|1.4300000000000002|          0|
+-----+-----+----+-------+------------+--------+----------+------------------+---------+--------+--------------+-----------+--------+--------------------+--------------+--------+------------+--------+------------+-----------------+------------+--------------+--------------+-------------+-------------+-----------+-----------------------+------------------+--------------+------------------+-----------+
only showing top 4 rows

## Groupby and aggregate
- coachsandeepkhaira.com

In [ ]:
import pandas as pd
import numpy as np

# Set random seed for salary generation
np.random.seed(123)

# Define the number of rows
num_rows = 100

# Create a dictionary with data
data = {
    'Name': ['Employee {}'.format(i+1) for i in range(num_rows)],
    'Department': np.random.choice(['IT', 'HR', 'Finance', 'Sales'], num_rows),
    'Salary': np.random.randint(30000, 90000, num_rows)
}

# Create DataFrame
df = pd.DataFrame(data)

df.to_csv('salary.csv')

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('salary').getOrCreate()
df = spark.read.csv('salary.csv', header=True, inferSchema=True)
df.show(3)

+---+----------+----------+------+
|_c0|      Name|Department|Salary|
+---+----------+----------+------+
|  0|Employee 1|   Finance| 64097|
|  1|Employee 2|        HR| 78908|
|  2|Employee 3|   Finance| 34626|
+---+----------+----------+------+
only showing top 3 rows

In [ ]:
#total salary of each department
df.groupby('Department').sum('salary').show()

+----------+-----------+
|Department|sum(salary)|
+----------+-----------+
|     Sales|    1466431|
|        HR|    1403347|
|   Finance|    1750986|
|        IT|    1472062|
+----------+-----------+

In [ ]:
#how many emp in each department
df.groupby('Department').count().show()

+----------+-----+
|Department|count|
+----------+-----+
|     Sales|   24|
|        HR|   21|
|   Finance|   30|
|        IT|   25|
+----------+-----+

In [ ]:
#total salary of all the departments
df.agg({'Salary':'sum', 'Department':'count'}).show()

+-----------+-----------------+
|sum(Salary)|count(Department)|
+-----------+-----------------+
|    6092826|              100|
+-----------+-----------------+

In [ ]:
#find which employee has highest salary
max_salary_row = df.agg({'Salary':'max'}).first()
max_salary = max_salary_row[0]

#look where the max salary is there
df.filter(df['Salary']==max_salary).show()

+---+-----------+----------+------+
|_c0|       Name|Department|Salary|
+---+-----------+----------+------+
| 94|Employee 95|        HR| 89400|
+---+-----------+----------+------+

In [ ]:
#CREATE A TABLE
df.registerTempTable('test')
spark.sql("""Select Name, Department, max(Salary) as max_sal
            From test
            GroupBy Department;""").show()

ParseException: ignored

# Working with MLlib

In [ ]:
import pandas as pd
import numpy as np

# Set random seed for data generation
np.random.seed(123)

# Define the number of rows
num_rows = 25

# Create a dictionary with data
data = {
    'Name': ['Employee {}'.format(i+1) for i in range(num_rows)],
    'Age': np.random.randint(22, 60, num_rows),
    'Experience': np.random.randint(1, 15, num_rows),
    'Salary': np.random.randint(30000, 90000, num_rows)
}

# Create DataFrame
df = pd.DataFrame(data)

# Print the DataFrame
df.to_csv('new_salary.csv')

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('salary').getOrCreate()
df = spark.read.csv('new_salary.csv', header=True, inferSchema=True)
df.show(5)

+---+----------+---+----------+------+
|_c0|      Name|Age|Experience|Salary|
+---+----------+---+----------+------+
|  0|Employee 1| 24|        13| 83659|
|  1|Employee 2| 50|        13| 39981|
|  2|Employee 3| 56|         5| 87324|
|  3|Employee 4| 39|         7| 60878|
|  4|Employee 5| 41|         2| 54134|
+---+----------+---+----------+------+
only showing top 5 rows

In [ ]:
df.columns

['_c0', 'Name', 'Age', 'Experience', 'Salary']

In [ ]:
df = df.drop('_c0')
df.show(2)

+----------+---+----------+------+
|      Name|Age|Experience|Salary|
+----------+---+----------+------+
|Employee 1| 24|        13| 83659|
|Employee 2| 50|        13| 39981|
+----------+---+----------+------+
only showing top 2 rows

In [ ]:
df.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['Age', 'Experience'], outputCol='Independent Features')

In [ ]:
output = featureassembler.transform(df)
output.show()

+-----------+---+----------+------+--------------------+
|       Name|Age|Experience|Salary|Independent Features|
+-----------+---+----------+------+--------------------+
| Employee 1| 24|        13| 83659|         [24.0,13.0]|
| Employee 2| 50|        13| 39981|         [50.0,13.0]|
| Employee 3| 56|         5| 87324|          [56.0,5.0]|
| Employee 4| 39|         7| 60878|          [39.0,7.0]|
| Employee 5| 41|         2| 54134|          [41.0,2.0]|
| Employee 6| 44|         6| 47773|          [44.0,6.0]|
| Employee 7| 55|         7| 54947|          [55.0,7.0]|
| Employee 8| 54|        12| 74186|         [54.0,12.0]|
| Employee 9| 31|         3| 40960|          [31.0,3.0]|
|Employee 10| 54|         2| 87734|          [54.0,2.0]|
|Employee 11| 54|        13| 70718|         [54.0,13.0]|
|Employee 12| 47|         9| 71215|          [47.0,9.0]|
|Employee 13| 41|         4| 33316|          [41.0,4.0]|
|Employee 14| 36|        11| 50839|         [36.0,11.0]|
|Employee 15| 58|         6| 58619|          [58.0,6.0]|
|Employee 16| 54|         1| 80102|          [54.0,1.0]|
|Employee 17| 38|        12| 85239|         [38.0,12.0]|
|Employee 18| 26|         3| 80305|          [26.0,3.0]|
|Employee 19| 25|        11| 38747|         [25.0,11.0]|
|Employee 20| 24|        11| 66026|         [24.0,11.0]|
+-----------+---+----------+------+--------------------+
only showing top 20 rows

In [ ]:
finalized_data = output.select('Independent Features', 'Salary')
finalized_data.show(2)

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [24.0,13.0]| 83659|
|         [50.0,13.0]| 39981|
+--------------------+------+
only showing top 2 rows

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.6, 0.4])
reg = LinearRegression(featuresCol='Independent Features', labelCol='Salary')
reg = reg.fit(train_data)

In [ ]:
reg.coefficients

DenseVector([207.1709, 179.1555])

In [ ]:
reg.intercept

46965.94018651788

In [ ]:
pred = reg.evaluate(test_data)

In [ ]:
pred.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|         [24.0,14.0]| 38887|54446.219507242444|
|          [26.0,3.0]| 80305| 52889.85026494356|
|          [29.0,5.0]| 72964|53869.674067411375|
|         [36.0,11.0]| 50839| 56394.80367251492|
|         [38.0,12.0]| 85239|  56988.3010243238|
|          [39.0,7.0]| 60878| 56299.69417792885|
|          [41.0,2.0]| 54134| 55818.25823268385|
|          [47.0,9.0]| 71215| 58315.37248614643|
|          [54.0,1.0]| 80102| 58332.32439812424|
|         [54.0,12.0]| 74186| 60303.03544272303|
|          [55.0,7.0]| 54947| 59614.42859632808|
+--------------------+------+------------------+

In [ ]:
train_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [24.0,11.0]| 66026|
|         [24.0,13.0]| 83659|
|         [24.0,14.0]| 38887|
|         [25.0,11.0]| 38747|
|          [26.0,3.0]| 80305|
|          [29.0,5.0]| 72964|
|          [31.0,3.0]| 40960|
|         [36.0,11.0]| 50839|
|         [38.0,12.0]| 85239|
|          [39.0,7.0]| 60878|
|          [41.0,2.0]| 54134|
|          [41.0,4.0]| 33316|
|          [42.0,3.0]| 36578|
|          [42.0,7.0]| 72341|
|          [44.0,6.0]| 47773|
|         [50.0,13.0]| 39981|
|          [54.0,1.0]| 80102|
|          [54.0,2.0]| 87734|
|         [54.0,12.0]| 74186|
|         [54.0,13.0]| 70718|
+--------------------+------+
only showing top 20 rows